.post
  - if defined?(@posts)
    - for post in @posts
      %h2.title= link_for(post)
      .entry=  post.content
      = Plugins::Views.post_foot
    = Plugins::Views.posts_foot
  - else
    %h2.title= @post.name
    .entry=  @post.content
    = Plugins::Views.post_foot
    %p.meta
      = Plugins::Views.post_meta(@post)
