- if defined?(@posts)
  - for post in @posts
    = post
    %h1= link_slug(post.name, post.slug)
    %p=  post.content
    = Plugins::Views.posts_element_foot
  = Plugins::Views.posts_foot
- else
  %p An alone post!
  %h1= @post.name
  %p=  @post.content
  = Plugins::Views.post_foot
  %p.meta
    - @post.tags.each do |tag|
      %span.tag= tag
    = Plugins::Views.post_meta
